:root {
    --heightLarge: 0px;
    --background-pred: #000;
    --heightSmall: 0px;
    --color-purple: #7952B3;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-pred);
    position: relative;
}


#navbarNav {
    transition: height .5s ease-in-out !important;
}

.normal-size {
    background: var(--background-pred);
    transition: .5s ease-in-out;
    transform: translate(0px, var(--heightLarge)); 
}


.minimal-size{
    background: var(--background-pred);
    transition: .5s ease-in-out;
    transform: translate(0px, var(--heightSmall)); 
}

.tabla-datos-personales {
    font-size: 16px;
}

.row-datos-personales {
    padding-bottom: .5em;
}

main .card-body {
    padding-top: 2.5em;
}

main hr {
    background-color: var(--color-purple);
}

@media (max-width: 576px) {
    main {
        padding-top: 0 !important;
    }
    
    main .container {
        padding-top: 0 !important;
    }

    main .card-title {
        font-size: 16px;
    }

    main .card-text{
        font-size: 13px;
    }

    .texto-presentacion {
        font-size: 12px;
    }

    .tabla-datos-personales {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    main .card-title {
        font-size: 15px;
    }

    main .card-text{
        font-size: 12px;
    }

    .tabla-datos-personales {
        font-size: 10px;
    }
}


.card-footer {
    background: var(--color-purple);
}

.card-footer a, a:hover {
    color: #FFF;
    text-decoration: none !important;
}

#boton-descargar-cv {
    border-color: #7952B3 !important;
    color: #7952B3 !important;
}

#boton-descargar-cv:hover {
    border: 1px solid #FFF !important;
    background: #7952B3;
    color: #FFF !important;
    font-weight: bold;
}

.contenido-card {
    font-size: 13px;
}

#experiencia {
    background: var(--color-purple);
}


.link-ver-mas-experiencia {
    color: #000;
    text-decoration: none;
}

.link-ver-mas-experiencia:hover {
    color: var(--color-purple);
}

.linea-tiempo hr {
    color: var(--color-purple);
    height: 3px;
}

.linea-tiempo .collapse {
    border: 1px solid var(--color-purple);
    border-radius: 6px;
}

.separador {
    padding: 2px;
    margin: 0;
    background-color: #FFF;
}

.row-datos-personales a {
    text-decoration: none;
    color: #000;
}

.row-datos-personales a:hover {
    text-decoration: none;
    color: var(--color-purple);
}


.circulo:after {
    content: "";
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    background: var(--color-purple);
    border: 1px solid #FFF;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circulo p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

#certificacion {
    background: var(--color-purple);
}