/* Variables CSS */
:root {
    --heightNavbar: 0px;
    --color-purple: #7952B3;
}

/* Modificación html para movimiento de scroll entre secciones */
html {
    scroll-behavior: smooth;
}

/* Configuración generarl css */
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: #000;
    position: relative;
}

/* Separador de secciones  */
.separador {
    padding: 2px;
    margin: 0;
    background-color: #FFF;
}

.separador-purple {
    padding-top: 5px;
    background-color: var(--color-purple);
    opacity: 1;
}

/* Estilo botón descarga de CV */
.boton-descargar {
    border-color: #7952B3 !important;
    color: #7952B3 !important;
    font-weight: 100;
}

/* Estilo botón descarga cv al pasar por encima */
.boton-descargar:hover {
    border: 1px solid #FFF !important;
    background: #7952B3;
    color: #FFF !important;
    font-weight: 500;
}

/* Contenedor con contenido página para que se empuje bajo el navbar  */
#contenedor-pagina {
    padding-top: var(--heightNavbar);
    background: #000;
}

/* Configuración general para tamaño pantalla pequeña */
@media (max-width: 576px) {

    /* Configuración texto navbar */
    #navbar-cv a {
        font-size: 16px;
        padding-left: 1em;
    }

    /* Configuración datos personales eleva la card */
    #inicio .container {
        padding-top: 0 !important;
    }

    /* Disminuye el tamaño de la presentación */
    #inicio .texto-presentacion {
        font-size: 14px;
    }

    /* Cambio tamaño texto  */
    #experiencia .texto-cargo {
        font-size: 16px;
    }

    /* Cambio tamaño texto  */
    #experiencia .texto-empresa {
        font-size: 14px;
    }

    /* Cambio tamaño texto  */
    #educacion .card-title {
        font-size: 15px;
    }
    
    /* Cambio tamaño texto  */
    #educacion .card-subtitle {
        font-size: 12px;
    }

    /* Cambio tamaño texto  */
    #educacion .fecha-estudio {
        font-size: 9px;
    }

    /* Cambio tamaño texto  */
    #educacion .footer-educacion .row {
        padding-right: .7em;
    }

    /* Tipo de texto */
    #certificacion .card-title {
        font-size: 15px;
    }
    
    /* Tipo de texto */
    #certificacion .card-subtitle {
        font-size: 13px;
    }

    /* Cambio tamaño texto  */
    #certificacion .texto-tiempo {
        font-size: 11px !important;
    }
}

/* Titulo de cada sección */
.titulo-bloque {
    font-weight: 900;
}

/*  -------------------------------
    - INICIO CONFIGURACIÓN NAVBAR -
    -------------------------------
*/

/* Se agrega grosor a texto de navbar */
#navbar-cv a {
    font-weight: 400 !important;
}

/* Configuración desplazamiento navbar */
#navbar-cv {
    transition: height .5s ease-in-out !important;
}

/* Cuando el tamaño de la pantalla sea menor a 650px */
@media (max-width: 650px) {
    /* Reduce tamaño de texto para que no se desplace */
    #navbar-cv {
        font-size: 12px;
    }
}


/*  -----------------------------------------
    - INICIO CONFIGURACIÓN DATOS PERSONALES -
    -----------------------------------------
*/

#inicio hr {
    background-color: var(--color-purple);
    opacity: 1;
}

/* #inicio .tabla-datos-personales {
    font-size: 16px;
} */

/* .row-datos-personales {
    padding-bottom: .5em;
} */

/* main .card-body {
    padding-top: 2.5em;
} */

@media (max-width: 768px) {
    /* main .card-title {
        font-size: 15px;
    } */

    /* main .card-text{
        font-size: 12px;
    } */

    /* Texto datos personales disminuye */
    #inicio .informacion-personal {
        font-size: 10px;
    }
}

/* cambio de color footer card datos personales */
#inicio .card-footer {
    background: var(--color-purple);
}

/* Forzado de color links a redes sociales */
#inicio .card-footer a, a:hover {
    color: #FFF;
    text-decoration: none !important;
}

#inicio a {
    text-decoration: none;
    color: var(--color-purple);
}

/*  --------------------------------------------
    - INICIO CONFIGURACIÓN EXPERIENCIA LABORAL -
    --------------------------------------------
*/
/* fondo de seccion */
#experiencia {
    background: var(--color-purple);
}

/* Contenido con información colapsada */
#experiencia .contenido-colapsado-experiencia {
    font-size: 12px;
}

/* Texto del cargo */
#experiencia .texto-cargo {
    font-weight: 600;
}

/* Texto de la empresa */
#experiencia .texto-empresa {
    font-weight: 300;
}

/* Texto del tiempo */
#experiencia .texto-tiempo {
    font-size: 13px;
    font-weight: 100;
}

#experiencia .texto-resumen-cargo {
    font-size: 13px;
}

/* Texto link ver más de texto colapsado */
#experiencia .link-ver-mas {
    color: var(--color-purple);
    text-decoration: none;
    transition: 1s;
}

/* Texto link ver más de texto colapsado al hacer hover */
#experiencia .link-ver-mas:hover {
    font-size: 18px;
}

/* Configuración texto colapsado */
#experiencia .contenido-colapsado-experiencia {
    font-size: 12px;
    font-weight: 300;
}

/* Configuración para brackets de texto colapsado */
#experiencia .bracket-icon {
    color: var(--color-purple) !important;
    font-size: 15px;
}

/* Tamaño especial para texto en maximo tamaño indicado */
@media (max-width: 770px) {

    #experiencia .texto-cargo {
        font-size: 19px;
    }
    
    #experiencia .texto-empresa {
        font-size: 17px;
    }
}

/*  ----------------------------------------------
    - INICIO CONFIGURACIÓN EXPERIENCIA EDUCACIÓN -
    ----------------------------------------------
*/

/* Color del footer */
#educacion .footer-educacion {
    background-color: var(--color-purple);
}

/* Cambio de color blanco a iconos */
#educacion .footer-educacion a {
    color: white;
}

/* Inversión a color blanco fotos */
#educacion .footer-educacion img {
    filter: brightness(0) invert(1);
    object-fit: contain;
}

/* Contenedor de imagen */
#educacion .container-img {
    width: 35px;
    height: 35px;
}

/* zoom imagenes*/
#educacion .img-zoom {
    transform: scale(1.7);
}

/* zoom imagenes*/
#educacion .img-zoom-min {
    transform: scale(1.2);
}

/* Tipo de texto */
#educacion .card-title {
    font-weight: 600;
}

/* Tipo de texto */
#educacion .card-subtitle {
    font-weight: 100;
}

/* Cambio texto por tamaño */
@media (max-width: 768px) {

    #educacion .card-title {
        font-size: 16px;
    }
    
    #educacion .card-subtitle {
        font-size: 13px;
    }

}

/* Cambio texto por tamaño */
@media (max-width: 1000px) {
    #educacion .fecha-estudio {
        font-size: 11px;
    }
}

/* Color divisor */
#educacion hr {
    background-color: var(--color-purple);
}

/* Configuración ciruclos de fechas */
.circulo:after {
    content: "";
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    background: var(--color-purple);
    border: 1px solid #FFF;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    box-shadow: 0 5px 10px var(--color-purple);
}

.circulo p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}


/*  ----------------------------------------
    - CAMBIO DE COLOR DE TOOLTIP BOOTSTRAP -
    ----------------------------------------
*/ 

.tooltip-inner {
    color: var(--color-purple) !important;
    /* text-shadow: 0 0 10px#FFF; */
    font-weight: 600;
    font-size: 16px;
}

/* .tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--color-purple);
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--color-purple);
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--color-purple); 
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--color-purple);
} */

/*  ----------------------------------------------
    - INICIO CONFIGURACIÓN CERTIFICACIÓN -
    ----------------------------------------------
*/

#certificacion {
    background: var(--color-purple);
}

#certificacion .card-title {
    font-weight: 600;
}

/* Tipo de texto */
#certificacion .card-subtitle {
    font-weight: 100;
}

#certificacion .texto-tiempo {
    font-size: 13px;
    font-weight: 100;
}

/* Cambio texto por tamaño */
@media (max-width: 768px) {
    #certificacion .texto-boton-descargar {
        font-size: 10px;
    }

    #certificacion .texto-boton-descargar:hover {
        font-size: 9px;
        padding-top: 7px;
    }
}

/* Cambio texto por tamaño */
@media (max-width: 990px) {
    #certificacion .texto-boton-descargar {
        font-size: 11px;
    }

    #certificacion .texto-boton-descargar:hover {
        font-size: 10px;
        padding-top: 7.5px;
    }
}
